@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,100;0,200;0,300;0,500;0,600;0,700;1,100;1,200;1,500;1,600;1,700&display=swap');

body{
    font-family: 'Gopher', 'Fraunces';
    font-weight: normal;
    color: rgba(0,0,0,0.85);
    background: radial-gradient(52.44% 102.89% at 20.26% 9.17%, #799395 25%, #9AACB0 79.69%);}

a{
    color: white;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 5px;
    overflow: hidden;
  }

a:hover{
    color: white;
    text-decoration: none;
}

.at-index{
    font-weight: bold;
    color: rgba(0,0,0,0.45);
}

.nav-flex{
    display: flex;
    justify-content: flex-start;
    padding-top: 3rem;
}

.left-nav{
    flex-grow: 9;
}

.right-nav{
    flex-grow: 1;
}

.header-container{
    padding-top: 180px;
    padding-bottom: 180px;
    margin: 20px;
    
}
.container1{
 max-width: 90%;
 margin: auto;
}

.footer-text{
    font-size: 15px;
}

.h1{
    padding-bottom: 2rem;
    font-size: 80px;
    font-weight: normal;

}

h2{
    padding-bottom: 2rem;
    letter-spacing: 3px;
    font-size: 24px;

}

.profile{
    width: 220px;
}

.about-info{
    text-align: left;
    padding-left: 0px;

}

.p-about-format{
    padding-right: 68px;

    font-size: 12px;
}

.icons{
    width: 25px;
    margin-right: 20px;
}

.image-style{
    margin-top: 25px;
}

/* button styles */
a.button {
    padding:0.4em 2.5em;
    border:0.16em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    font-size: 13px;
    box-sizing: border-box;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    text-align:center;
    float:right;  
    margin-right: 80px;
}
  
  .button:hover{
    /* background-color:white; */
    color: #7e878a;
    border-color:#7e878a;  
}

.mid-abt{
    padding-top: 80px;
}

.top-abt{
    padding-top: 160px;
}
.top-abt2{
    padding-top: 20px;
}
.cen-abt2{
    margin-top: -140px;
}  
.mid-abt2{
    margin-top: -70px;
}

.mid-abt3{
    margin-top: -90px;
}

.mid-abt4{
    margin-top: 30px;
}

.mid-abt5{
    margin-top: -30px;
}

.mid-abt6{
    margin-top: -170px;
}

.top-image{
position: absolute;
left: 0px;
top: 0px;
}

.h3{
    font-weight: lighter;
    font-size: 24px;
}

p{
    font-size: 13px;
}

/* to hold my p5.js sketch */
#sketch-holder {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
  }
  
  .top-container1{
    background: url(../images/purple.jpeg) no-repeat top;
    background-size: cover;

    /* position:relative; */
    margin-top: -130px;
    padding-top: 600px;
    padding-bottom: 200px;
    z-index: -1;
  }

  .format-text{
      font-size: 25px;
  }

  .format-text2{
    font-size: 14px;
}

  .square-style{
    max-width: 100%;
    margin: auto;
  }

  .rect-style{
      width: 100%;
    /* width: 100%; */
    margin: 0px;
}

.phone-style{
    width: 60%;
    margin: 40px;
}

/* for banner on single portfolio page*/
.csslider>ul>li:first-child {
    background: url(../images/p1.png) no-repeat top;
    background-size: cover;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}

.image-style{
    max-width: 100%;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    .div-container{
        padding: 4rem;
    }
    .about-info{
        margin: auto;
        padding-top: 0px;
        margin-top: 0px;
        padding-left: 40px;
    }

    .header-container{
        margin-top: -50px;
    }

    .image-style{
        margin: auto;
    }
  }

  /* On screens that are 600px wide or less, the background color is olive */
  @media screen and (max-width: 600px) {
    .about-info{
        padding-left: 20px;
        margin: auto;
    }

    .image-style{s
        margin: auto;
    }

    .format-play{
        margin-left: 65px;
    }
    
  }
